@using Sabz.ServiceLayer.Enumration
@using Sabz.ServiceLayer.Extension
@using Sabz.ServiceLayer.Utils
@model SabzGashtTransportation.ViewModel.RegionViewModel

@{
    ViewBag.Title = " جزئیات شرکت ها";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    @Styles.Render("~/css/css/style.css");
}

<h2 class="style-h2"> جزئیات شرکت ها</h2>

<div>
    <table class="tbl-show">
        <tr class="tbl-tr-show">
            <th class="tbl-th-show">نام شرکت :</th>
            <th> @Html.DisplayFor(model => model.RegionName)</th>
        </tr>

    </table>
</div>
<p>
    <div class="link-back">
        @Html.ActionLink("ویرایش", "Edit", new { id = Model.RegionId }) |
        @Html.ActionLink("بازگشت به لیست", "Index")
    </div>
</p>