@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup> 
    <h1>خطای تکرار درخواست</h1>
    <h2 class="text-error">خطایی پیش آمده. لطفا از حساب کاربری خود خارج شوید و صفحه مرورگر خود را ببندید و دوباره امتحان کنید</h2>
</hgroup>
