@{
    ViewBag.Title = "Home Page";
}

<h1>
    سبز گشت میعاد
</h1>

@*<div style="width: 100%; height: 150px; background-color: blueviolet; margin: 24px 20px 20px; padding: 24px 20px 20px; border-radius: 7px;">*@
<div class="box-image">
    <img src="images/green.jpg" alt="" />
</div>

<div class="box-content">
    <p class="box-content-p">
        درباره ما
    </p>
    <div class="liner"></div>
    <div>
        <p class="box-Subcontent ">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
        </p>
    </div>
</div>
<section class="container">
    <div class="bottom-slider">
        <a href="#" class="btn-right"></a>
        <div class="slides">
            <p>آخرین محصولات اضافه شده</p>
            <ul class="item-list">
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_01.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00 ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_02.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong> ریال55.00 </strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_03.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00  ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_02_2.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00  ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="last">
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_04.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00  ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_02.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00  ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_03.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00  ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_02_2.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00  ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_03.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00  ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="last">
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="images/pic_carusel_02.png" alt=""></a>
                            <div class="hover">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
                                <strong>55.00  ریال</strong>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="btn-left"></a>
    </div>
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
</section>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/jcarousellite.js"></script>
<script type="text/javascript" src="js/jquery.placeholder.js"></script>
<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="js/fancySelect.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.js"></script>
<script src="js/jquery-ui-1.10.4.custom.js"></script>
<script type="text/javascript" src="js/main.js"></script>