@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPageDealer.cshtml";
    @Styles.Render("~/css/css/style.css");
}
<h1>
    سبز گشت میعاد
</h1>

<div class="box-image"> 
    <img src="~/images/main.jpg" alt="" />
</div>

<div class="box-content">
    <p class="box-content-p">
        درباره ما
    </p>
    <div class="liner"></div>
    <div>
        <p  id="aboutus" class="box-Subcontent">
            آگهی تغییرات شرکت خدماتی حمل و نقل سبز گشت میعاد شرکت سهامی خاص به شماره ثبت ۸۴۰۹ و شناسه ملی ۱۰۱۰۰۳۶۲۴۹۴
            به استناد صورتجلسه مجمع عمومی عادی سالیانه مورخ ۱۶/۰۲/xxx۸ تصمیمات ذیل اتخاذ شد : آقایان پرویز حسین خانی با کدملی xxxxxxxxx۴ و محمد تقی احمدی با کدملی xxxxxxxxx۱ و یوسف نژاد رمضانی با کدملی xxxxxxxxx۴ بسمت اعضاء هیئت مدیره برای مدت دو سال انتخاب گردیدند آقایان پرویز حسین خانی با کدملی xxxxxxxxx۴ بسمت مدیرعامل و عضو هیئت مدیره و محمد تقی احمدی با کدملی xxxxxxxxx۱ بسمت رئیس هیئت مدیره و یوسف نژاد رمضانی با کدملی xxxxxxxxx۴ بسمت نایب رئیس هیئت مدیره برای مدت دو سال انتخاب گردیدند . امضاء کلیه اوراق و اسناد بهادار و تعهدآور شرکت از قبیل چک و سفته و برات و قرار دادها و عقود اسلامی با امضاء مدیرعامل و یکی از رئیس هیئت مدیره یا نایب رئیس هیئت مدیره متفقا " با مهر شرکت و اوراق عادی و اداری با امضا مدیرعامل و مهر شرکت معتبر می‌باشد . آقای محمد حسین بهزادنیا با کدملی xxxxxxxxx۲ به سمت بازرس اصلی و آقای عادل داران با کدملی xxxxxxxxx۰ به سمت بازرس علی البدل برای مدت یکسال مالی انتخاب گردیدند پس از قرائت و گزارش بازرس ترازنامه و حساب سود و زیان سال مالی xxx۷ به تصویب رسید . ش xxxxxxxxxxxxxxx اداره ثبت شرکت‌ها و موسسات غیرتجاری کرج
            لینک این آگهی در سایت روزنامه رسمی کشور
            آگهی 13413457
            آگهی تغییرات شرکت خدماتی حمل و نقل سبز گشت میعاد شرکت سهامی خاص به شماره ثبت ۸۴۰۹ و شناسه ملی ۱۰۱۰۰۳۶۲۴۹۴
            به استناد صورتجلسه هیئت مدیره مورخ ۰۶/۰۲/xxx۶ تصمیمات ذیل اتخاذ شد: در آگهی به شماره مکنیزه xxxxxxxxxxxxxxxxxx مورخ ۲۴/۱۲/xxx۵ تاریخ صورتجلسه مجمع عمومی عادی بطور فوق العاده اشتباها " ۲۰/۰۷/xxx۴ درج گردیده در صورتی که تاریخ صحیح جلسه ۲۰/۰۹/xxx۵ صحیح می‌باشد. ش xxxxxxxxxxxxxxx اداره ثبت شرکت‌ها و موسسات غیرتجاری کرج
            لینک این آگهی در سایت روزنامه رسمی کشور
            آگهی 13355437
          
        </p>
    </div>
</div>
<section class="container">
    <div class="bottom-slider">
        <a href="#" class="btn-right"></a>
        <div class="slides">
            <p>شرکت هایی که از خدمات ما استفاده می کنند</p>
            <ul class="item-list">
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="~/images/LOGO/saipa.png" alt=""></a>
                            <div class="hover">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="~/images/pars.jpg" alt=""></a>
                            <div class="hover">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="last">
                    <div class="item">
                        <div class="image">
                            <a href="#"><img src="~/images/ikco1.png" alt=""></a>
                            <div class="hover">
                            </div>
                        </div>
                    </div>
                </li> 
            </ul>
        </div>
        <a href="#" class="btn-left"></a>
    </div> 
</section>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="./js/jcarousellite.js"></script>
<script type="text/javascript" src="./js/jquery.placeholder.js"></script>
<script type="text/javascript" src="./js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="./js/fancySelect.js"></script>
<script type="text/javascript" src="./js/jquery.bxslider.js"></script>
<script src="./js/jquery-ui-1.10.4.custom.js"></script>
<script type="text/javascript" src="./js/main.js"></script>